keybinding:
    universal:
        quit: q
        quit-alt1: <c-c>
        return: <esc>
        quitWithoutChangingDirectory: Q
        togglePanel: <tab>
        prevItem: <up>
        nextItem: <down>
        prevItem-alt: t
        nextItem-alt: n
        prevPage: ","
        nextPage: .
        scrollLeft: H
        scrollRight: S
        gotoTop: <
        gotoBottom: ">"
        toggleRangeSelect: v
        rangeSelectDown: N
        rangeSelectUp: T
        prevBlock: h
        nextBlock: s
        prevBlock-alt: <C-t>
        nextBlock-alt: <C-n>
        nextBlock-alt2: <tab>
        prevBlock-alt2: <backtab>
        jumpToBlock:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
        nextMatch: "l"
        prevMatch: "L"
        startSearch: /
        optionMenu: <disabled>
        optionMenu-alt1: "?"
        select: <space>
        goInto: <enter>
        confirm: <enter>
        confirmInEditor: <a-enter>
        remove: d
        new: "n"
        edit: e
        openFile: o
        scrollUpMain: <pgup>
        scrollDownMain: <pgdown>
        scrollUpMain-alt1: T
        scrollDownMain-alt1: N
        scrollUpMain-alt2: <c-u>
        scrollDownMain-alt2: <c-d>
        executeShellCommand: ":"
        createRebaseOptionsMenu: m
        pushFiles: P # 'Files' appended for legacy reasons
        pullFiles: p # 'Files' appended for legacy reasons
        refresh: R
        createPatchOptionsMenu: <c-p>
        nextTab: "]"
        prevTab: "["
        nextScreenMode: +
        prevScreenMode: _
        undo: z
        redo: <c-z>
        filteringMenu: <c-s>
        diffingMenu: W
        diffingMenu-alt: <c-e>
        copyToClipboard: <c-o>
        openRecentRepos: <c-r>
        submitEditorText: <enter>
        extrasMenu: "@"
        toggleWhitespaceInDiffView: <c-w>
        increaseContextInDiffView: "}"
        decreaseContextInDiffView: "{"
        openDiffTool: <c-j>
    status:
        checkForUpdate: u
        recentRepos: <enter>
        allBranchesLogGraph: a
    files:
        commitChanges: c
        commitChangesWithoutHook: w
        amendLastCommit: A
        commitChangesWithEditor: C
        findBaseCommitForFixup: <c-f>
        confirmDiscard: x
        ignoreFile: i
        refreshFiles: r
        stashAllChanges: j
        viewStashOptions: J
        toggleStagedAll: a
        viewResetOptions: D
        fetch: f
        toggleTreeView: "`"
        openMergeTool: M
        openStatusFilter: <c-b>
        copyFileInfoToClipboard: "y"
    branches:
        createPullRequest: o
        viewPullRequestOptions: O
        copyPullRequestURL: <c-y>
        checkoutBranchByName: c
        forceCheckoutBranch: F
        rebaseBranch: r
        renameBranch: R
        mergeIntoCurrentBranch: M
        viewGitFlowOptions: i
        fastForward: f
        createTag: j
        pushTag: P
        setUpstream: u
        fetchRemote: f
        sortOrder: k
    worktrees:
        viewWorktreeOptions: w
    commits:
        squashDown: k
        renameCommit: r
        renameCommitWithEditor: R
        viewResetOptions: g
        markCommitAsFixup: f
        createFixupCommit: F
        squashAboveCommits: K
        moveDownCommit: N
        moveUpCommit: T
        amendToCommit: A
        resetCommitAuthor: a
        pickCommit: p
        revertCommit: J
        cherryPickCopy: C
        pasteCommits: V
        markCommitAsBaseForRebase: B
        tagCommit: j
        checkoutCommit: <space>
        resetCherryPick: <c-R>
        copyCommitAttributeToClipboard: "y"
        openLogMenu: <c-l>
        openInBrowser: o
        viewBisectOptions: b
        startInteractiveRebase: i
    amendAttribute:
        resetAuthor: a
        setAuthor: A
        addCoAuthor: c
    stash:
        popStash: g
        renameStash: r
    commitFiles:
        checkoutCommitFile: c
    main:
        toggleSelectHunk: a
        pickBothHunks: b
        editSelectHunk: E
    submodules:
        init: i
        update: u
        bulkMenu: b
    commitMessage:
        commitMenu: <c-o>
