[submodule "shell/zsh_custom/plugins/fast-syntax-highlighting"]
	path = shell/zsh_custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "shell/zsh_custom/plugins/zsh-autocomplete"]
	path = shell/zsh_custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "shell/zsh_custom/plugins/zsh-syntax-highlighting"]
	path = shell/zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/zsh_custom/plugins/zsh-autosuggestions"]
	path = shell/zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/zsh_custom/themes/powerlevel10k"]
	path = shell/zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "windowmanager/windows/komorebi-application-specific-configuration"]
	path = windowmanager/windows/komorebi-application-specific-configuration
	url = https://github.com/LGUG2Z/komorebi-application-specific-configuration/
