[submodule "/home/ruud/.dotfiles/shell/zsh_custom/plugins/fast-syntax-highlighting"]
	path = /home/ruud/.dotfiles/shell/zsh_custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
