general:
  # Commands to run when the WM has started (e.g. to run a script or launch
  # another application). Here we are running a batch script to start Zebar.
  startup_commands: ["shell-exec %userprofile%/.glzr/zebar/start.bat"]

  # Whether to automatically focus windows underneath the cursor.
  focus_follows_cursor: false

  # Whether to switch back and forth between the previously focused
  # workspace when focusing the current workspace.
  toggle_workspace_on_refocus: false

  cursor_jump:
    # Whether to automatically move the cursor on the specified trigger.
    enabled: false

    # Trigger for cursor jump:
    # - 'monitor_focus': Jump when focus changes between monitors.
    # - 'window_focus': Jump when focus changes between windows.
    trigger: "monitor_focus"

##############
# Appearance #
##############

gaps:
  # Gap between adjacent windows.
  inner_gap: "10px"

  # Gap between windows and the screen edge.
  outer_gap:
    top: "60px"
    right: "20px"
    bottom: "20px"
    left: "20px"

window_effects:
  # Visual effects to apply to the focused window.
  focused_window:
    # Highlight the window with a colored border.
    # ** Exclusive to Windows 11 due to API limitations.
    border:
      enabled: true
      color: "#8dbcff"

  # Visual effects to apply to non-focused windows.
  other_windows:
    border:
      enabled: true
      color: "#a1a1a1"

window_behavior:
  # New windows are created in this state whenever possible.
  # Allowed values: 'tiling', 'floating'.
  initial_state: "tiling"

  # Sets the default options for when a new window is created. This also
  # changes the defaults for when the state change commands, like
  # `set-floating`, are used without any flags.
  state_defaults:
    floating:
      # Whether to center floating windows by default.
      centered: true

      # Whether to show floating windows as always on top.
      shown_on_top: false

    fullscreen:
      # Maximize the window if possible. If the window doesn't have a
      # maximize button, then it'll be fullscreen'ed normally instead.
      maximized: false

      # Whether to show fullscreen windows as always on top.
      shown_on_top: false

workspaces:
  - name: "1"
    display_name: "1 "
  - name: "2"
    display name: "2 "
  - name: "3"
    display name: "3 "
  - name: "4"
    display name: "4 "
  - name: "5"
    display name: "5 󰨞"
  - name: "6"
    display name: "6 "
  - name: "7"
    display name: "7 󰭹"
  - name: "8"
    display name: "8 󰇰"
  - name: "9"
    display name: "9 󰎈"

window_rules:
  - commands: ["ignore"]
    match:
      # Ignores any Zebar windows.
      - window_process: { equals: "zebar" }

      # Ignores picture-in-picture windows for browsers.
      - window_title: { regex: "[Pp]icture.in.[Pp]icture" }
        window_class: { regex: "Chrome_WidgetWin_1|MozillaDialogClass" }

      # Ignore rules for various 3rd-party apps.
      - window_process: { equals: "PowerToys.PowerAccent" }
      - window_process: { equals: "Lively" }
        window_class: { regex: "HwndWrapper*" }

binding_modes:
  # When enabled, the focused window can be resized via arrow keys or HJKL.
  - name: "launchprogram"
    keybindings:
      - commands:
          ["exec firefox", "wm-disable-binding-mode --name launchprogram"]
        bindings: ["f"]

  # When enabled, all keybindings are disabled except for alt+shift+p which
  # returns to default keybindings.
  # - name: "pause"
  #   keybindings:
  #     - commands: ["wm-disable-binding-mode --name pause"]
  #       bindings: ["alt+shift+p"]

keybindings:
  #########
  # Focus #
  #########

  # window
  # hotkey + htns
  - commands: ["focus --direction left"]
    bindings: ["alt+lwin+h"]
  - commands: ["focus --direction right"]
    bindings: ["alt+lwin+s"]
  - commands: ["focus --direction up"]
    bindings: ["alt+lwin+t"]
  - commands: ["focus --direction down"]
    bindings: ["alt+lwin+n"]

  # workspace
  # hotkey + 1..9
  - commands: ["focus --workspace 1"]
    bindings: ["alt+lwin+1"]
  - commands: ["focus --workspace 2"]
    bindings: ["alt+lwin+2"]
  - commands: ["focus --workspace 3"]
    bindings: ["alt+lwin+3"]
  - commands: ["focus --workspace 4"]
    bindings: ["alt+lwin+4"]
  - commands: ["focus --workspace 5"]
    bindings: ["alt+lwin+5"]
  - commands: ["focus --workspace 6"]
    bindings: ["alt+lwin+6"]
  - commands: ["focus --workspace 7"]
    bindings: ["alt+lwin+7"]
  - commands: ["focus --workspace 8"]
    bindings: ["alt+lwin+8"]
  - commands: ["focus --workspace 9"]
    bindings: ["alt+lwin+9"]

  # monitor
  # hotkey + gcrl
  - commands: ["focus left_monitor"]
    bindings: ["alt+lwin+g"]
  - commands: ["focus right_monitor"]
    bindings: ["alt+lwin+l"]

  # focus child window/container
  # --> n/a
  # focus parent container
  # --> n/a

  # toggle focus between tiling / floating
  # hotkey + shift + b
  - commands: ["wm-cycle-focus"]
    bindings: ["alt+lwin+shift+b"]

  ########
  # Move #
  ########

  # window/container inside workspace
  # hotkey + shift + htns
  - commands: ["move --direction left"]
    bindings: ["alt+lwin+shift+h"]
  - commands: ["move --direction right"]
    bindings: ["alt+lwin+shift+s"]
  - commands: ["move --direction up"]
    bindings: ["alt+lwin+shift+t"]
  - commands: ["move --direction down"]
    bindings: ["alt+lwin+shift+n"]

  # window/container to workspace
  # hotkey + shift + 1..9
  - commands: ["move --workspace 1", "focus --workspace 1"]
    bindings: ["alt+lwin+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2"]
    bindings: ["alt+lwin+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3"]
    bindings: ["alt+lwin+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4"]
    bindings: ["alt+lwin+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5"]
    bindings: ["alt+lwin+shift+5"]
  - commands: ["move --workspace 6", "focus --workspace 6"]
    bindings: ["alt+lwin+shift+6"]
  - commands: ["move --workspace 7", "focus --workspace 7"]
    bindings: ["alt+lwin+shift+7"]
  - commands: ["move --workspace 8", "focus --workspace 8"]
    bindings: ["alt+lwin+shift+8"]
  - commands: ["move --workspace 9", "focus --workspace 9"]
    bindings: ["alt+lwin+shift+9"]

  # workspace to monitor
  # hotkey + shift + gcl
  - commands: ["move-workspace --direction left"]
    bindings: ["alt+lwin+shift+g"]
  - commands: ["move-workspace --direction right"]
    bindings: ["alt+lwin+shift+l"]

  #########
  # Close #
  #########

  - commands: ["close"]
    bindings: ["alt+lwin+w"]

  ########
  # Size #
  ########

  # width
  # hotkey + left/right, hotkey + []
  - commands: ["resize --width -2%"]
    bindings: ["alt+lwin+left", "alt+lwin+oem_close_brackets"]
  - commands: ["resize --width +2%"]
    bindings: ["alt+lwin+right", "alt+lwin+oem_open_brackets"]
  # height
  # hotkey + up/down, hotkey + {}
  - commands: ["resize --height +2%"]
    bindings: ["alt+lwin+down", "alt+lwin+shift+oem_close_brackets"]
  - commands: ["resize --height -2%"]
    bindings: ["alt+lwin+up", "alt+lwin+shift+oem_open_brackets"]
  # balance
  # hotkey + =
  # TODO:

  ##########
  # Layout #
  ##########

  # toggle float/tiling
  # hotkey + b
  - commands: ["toggle-floating --centered"]
    bindings: ["alt+lwin+b"]
  - commands: ["toggle-tiling"]
    bindings: ["alt+lwin+shift+m"] #TODO: toggle floating/tiling or force tiling?

  # toggle maximize
  # hotkey + m
  - commands: ["toggle-fullscreen"]
    bindings: ["alt+lwin+m"]

  # toggle minimize
  # - commands: ["toggle-minimized"]
  #   bindings: ["alt+lwin+shift+m"]

  # where to position next window
  # hotkey + v
  - commands: ["toggle-tiling-direction"]
    bindings: ["alt+lwin+v"]

  ##################
  # Window manager #
  ##################

  # restart
  # hotkey + f3
  - commands: ["wm-reload-config", "wm-redraw"]
    bindings: ["alt+lwin+f3"]

  # exit
  # hotkey + f4
  - commands: ["wm-exit"]
    bindings: ["alt+lwin+f4"]

  ########
  # Apps #
  ########

  # cycle apps
  # TODO: do
  # launch apps
  # TODO: do

  # terminal
  # hotkey + (shift +) enter
  - commands: ["exec notify-send 'bla'", "shell-exec cmd"]
    bindings: ["alt+lwin+shift+enter"]
  - commands: ["exec notify-send 'bla'", "shell-exec wezterm"]
    bindings: ["alt+lwin+enter"]

  # screenshot
  # . to clipboard
  # hotkey + y
  - commands: ["shell-exec snippingtool"]
    bindings: ["alt+lwin+y"]
  # . to editor
  # TODO:

  # various other apps under new namespace
  # hotkey + p
  - commands: ["wm-enable-binding-mode --name launchprogram"]
    bindings: ["alt+lwin+p"]

  ###################################
  # Non-window-management shortcuts #
  ###################################

  # lock the machine
  # hotkey + f5
  - commands: ["exec rundll32.exe user32.dll,LockWorkStation"]
    bindings: ["alt+lwin+f5"]

  # change keyboard layout (must be keys that are same on all layouts)
  # hotkey + f1 for dvorak, hotkey + f2 for us
  - commands:
      [
        'exec powershell -Command "Set-WinUserLanguageList en-US -Force; Set-WinDefaultInputMethodOverride -InputTip ''0409:00010409''"',
      ]
    bindings: ["alt+lwin+f1"]
  - commands:
      [
        'exec powershell -Command "Set-WinDefaultInputMethodOverride -InputTip ''0409:00000409''"',
      ]
    bindings: ["alt+lwin+f2"]

  # change monitor setup
  # --> n/a
